* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    border: 2px solid blue;
    /* height: 100%; */
}

body {
    display: grid;
    grid-template-columns: 1.5fr 7fr;
    grid-template-rows: 1.2fr 6fr;
}

body>div {
    border: 2px solid sandybrown;
}

.main {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(226, 232, 240);
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 6fr;
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(25, 146, 212);
}

.title,
.options-one,
.options-two {
    padding-left: clamp(4px, 6%, 50px);
    color: white;
}

.sidebar>div {
    /* border: 2px solid olivedrab; */
}

.title>img {
    /* border: 2px solid fuchsia; */
    /* background-color: rgb(230, 108, 42); */
}

.title>img {
    width: 60px;
}

.options-one>ul>li>img,
.options-two>ul>li>img {
    width: 45px;
    /* filter: invert(1); */
}

.options-one>ul>li,
.options-two>ul>li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* filter: invert(1); */
}

.options-one *,
.options-two * {
    /* border: 2px solid salmon; */
    font-size: 1.2rem;
}

img {
    padding: 10px;
    /* background-color: black; */
}

p {
    display: inline;
}

li {
    padding: 20px 0 10px 20px;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
}

.header>div {
    border: 2px solid pink;
}

.main {
    display: grid;
    grid-template-columns: 4fr 1.4fr;
    grid-template-rows: 1fr 1fr;
}

.main>div {
    /* border: 2px solid palevioletred; */
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4rem;
}


.options-one ul li,
.options-two ul li {
    list-style: none;
    padding: 8px;
}

.options-one {
    margin-bottom: 2rem;
}

.search-bar {
    padding-inline: clamp(100px, 35%, 600px);
    /* min-width: 100px; */
    background-color: rgb(201, 201, 201);
    padding-block: 12px;
    border-radius: 30px;
    /* padding-inline: 10px;  */
    margin-left: 30px;
}

.upper-head>div {
    display: inline;
}

.upper-head {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.upper-head>:nth-child(1) {
    display: flex;
    /* border: 3px solid blueviolet; */
    justify-content: center;
    align-items: center;
}

.upper-head>:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.search-container>img {
    width: 50px;
}

.search-container>* {
    /* border: 2px solid magenta; */
}

/* 
.search-container{
    display: flex;
    justify-content: start;
    align-items: center;
} */
.lower-head {
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    font-size: 2rem;
}

.lower-head * {
    /* border: 2px solid magenta; */
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding-left: 50px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.projects {
    /* resize: both; */
    /* overflow: auto; */
    position: relative;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-auto-rows: 200px; */
    /* grid-template-rows: repeat(auto-fit, 200px); */
    /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-auto-rows: 200px;
    ;
    padding-inline: 10px;
    gap: 20px;
}

.card {
    /* border: 2px solid black; */
    border-radius: 15px;
    max-height: 250px;
    /* display: flex;
    flex-flow: column nowrap;
    justify-content: start; */
    padding: clamp(1rem, 10%, 2rem);
    background-color: white;
    /* border: none; */
    box-shadow:
        0px 0px 10px rgba(0, 0, 0, 0.3);

}

.trending,
.contact {
    position: relative;
    padding-top: 50px;
    padding-inline: 10px;
}

.trending-container *,
.contact-container * .trending-container,
.contact-container {
    /* border: 3px solid teal; */
    /* border-radius: 30px; */
}

.small-card {
    /* border: 2px solid khaki; */
    font-size: 0.8rem;
    /* padding: 4vh 0; */

}

.projects>span,
.trending>span,
.contact>span {
    position: absolute;
    top: 13px;
    left: 15px;
    font-size: 1.2rem;
}

.mini-profile-container :nth-child(1) {
    width: 40px;
}

.mini-profile-container :nth-child(2) {
    width: 60px;
}

.mini-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-profile-container * {
    /* border: 2px solid red; */
}

.lower-head img {
    width: 90px;
}

.lower-head * {
    /* border: 2px solid brown; */
}

.actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.lower-head button {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.small-card {
    /* border: 2px solid hotpink; */
    display: flex;
    align-items: center;
}

.contact-container img {
    width: 50px;
}

.contact-container> :first-child,
.contact-container> :nth-child(2),
.trending-container> :first-child,
.trending-container> :nth-child(2) {
    border-bottom: 1px solid rgb(197, 197, 197);

}

.small-card {
    height: 70px;
    /* border-bottom: 1px solid #000; */
}

.trending-container {
    background-color: white;

    /* border: 2px solid goldenrod; */
    border-radius: 20px;
    box-shadow:
        0px 0px 10px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
}

.contact-container {
    background-color: white;

    /* border: 2px solid red; */
    border-radius: 20px;
    box-shadow:
        0px 0px 10px rgba(0, 0, 0, 0.3);
    padding-left: 10px;

}

.trending img {
    width: 50px;
}

.card {
    border-left: 8px solid rgb(255, 200, 57);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease;
    gap: 10px 0;
    /* align-items: center; */
}

.card * {
    /* border: 2px solid lawngreen; */
}

.card h3 {
    align-self: start;
}

.card img {
    width: 50px;
    margin-inline: -10px;
}

.tech {
    /* margin-top: 20px; */
    align-self: flex-end;
    /* margin-bottom: -70px; */

}

.small-card {
    width: 96%;
}

.card:hover {
    transform: scale(1.02);
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

img[src="img/github.png"],
img[src="img/linkedin.png"],
img[src="img/email.png"] {
    transition: all 0.4s ease-in-out;
}

.contact-container>.small-card:hover>img[src="img/github.png"] {
    transform: rotate(360deg) scale(1.1);
    ;
    /* transition: all 0.3s ease-in-out; */
}

.contact-container>.small-card:hover>img[src="img/linkedin.png"] {
    transform: scale(1.2);
    filter: invert(28%) sepia(100%) saturate(1472%) hue-rotate(178deg) brightness(90%) contrast(101%);
}

.contact-container>.small-card:hover>img[src="img/email.png"] {
    transform: scale(1.05);
    filter: invert(72%) sepia(2%) saturate(141%) hue-rotate(77deg) brightness(90%) contrast(85%);
}

.sidebar>.title>span,
.options-one>ul>li>span,
.options-two>ul>li>span {
    cursor: pointer;
}

button{
    color: white;
    background-color: rgb(25, 146, 212);
    transition: all 0.1s ease;
}

button:hover{
    background-color: rgb(88, 175, 223);
}

button:active{
    transform: translateY(2px);
}