* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    border: 2px solid blue;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1.5fr 7fr;
    grid-template-rows: 1.2fr 6fr;
}

body>div {
    border: 2px solid sandybrown;
}

.main {
    grid-area: 2 / 2 / 3 / 3;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 6fr;
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(25, 146, 212);
}

.title,
.options-one,
.options-two {
    padding-left: clamp(4px, 6%, 50px);
    color: white;   
}

.sidebar>div {
    /* border: 2px solid olivedrab; */
}

.title>img {
    /* border: 2px solid fuchsia; */
    /* background-color: rgb(230, 108, 42); */
}

.title>img {
    width: 60px;
}

.options-one>ul>li>img,
.options-two>ul>li>img {
    width: 45px;
    /* filter: invert(1); */
}

.options-one>ul>li,
.options-two>ul>li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* filter: invert(1); */
}

.options-one *,
.options-two * {
    /* border: 2px solid salmon; */
    font-size: 1.2rem;
}

img {
    padding: 10px;
    /* background-color: black; */
}

p {
    display: inline;
}

li {
    padding: 20px 0 10px 20px;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
}

.header>div {
    border: 2px solid pink;
}

.main {
    display: grid;
    grid-template-columns: 4fr 1.4fr;
    grid-template-rows: 1fr 1fr;
}

.main>div {
    border: 2px solid palevioletred;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
}


.options-one ul li,
.options-two ul li {
    list-style: none;
    padding: 8px;
}

.options-one {
    margin-bottom: 2rem;
}

.search-bar {
    padding-inline: clamp(100px, 35%, 600px);
    /* min-width: 100px; */
    background-color: rgb(201, 201, 201);
    padding-block: 12px;
    border-radius: 30px;
    /* padding-inline: 10px;  */
    margin-left: 30px;
}

.upper-head>div {
    display: inline;
}

.upper-head {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.upper-head>:nth-child(1) {
    display: flex;
    /* border: 3px solid blueviolet; */
    justify-content: center;
    align-items: center;
}

.upper-head>:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.search-container>img{
width: 50px;
} 

.search-container>* {
    /* border: 2px solid magenta; */
}
/* 
.search-container{
    display: flex;
    justify-content: start;
    align-items: center;
} */
.lower-head {
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    font-size: 2rem;
}

.lower-head * {
    /* border: 2px solid magenta; */
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.projects {
    /* resize: both; */
    /* overflow: auto; */
    position: relative;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-auto-rows: 200px; */
    /* grid-template-rows: repeat(auto-fit, 200px); */
    /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-auto-rows: 200px;;
    padding-inline: 10px;
    gap: 20px;
}

.card {
    border: 2px solid black;
    border-radius: 15px;
    max-height: 250px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    padding: clamp(1rem, 10%, 2rem);
}

.announcements,
.contact {
    position: relative;
    padding-top: 50px;
    padding-inline: 10px;
}

.announcement-container *,
.contact-container *{
    border: 3px solid teal;
    border-radius: 30px;
}

.small-card {
    border: 2px solid khaki;
    font-size: 0.8rem;
    padding: 4vh 0;
}

.trend {
    border: 2px solid khaki;
    font-size: 0.8rem;
    padding: 4vh 0;
}

.projects>span,
.announcements>span,
.trending>span {
    position: absolute;
    top: 13px;
    left: 15px;
    font-size: 1.2rem;
}

.mini-profile-container img{
    width: 60px;
}

.mini-profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-profile-container *{
    /* border: 2px solid red; */
}

.lower-head img{
    width: 90px;
}

.lower-head *{
    /* border: 2px solid brown; */
}

.actions{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.lower-head button{
    width: 100px;
    height: 35px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.contact-container *{
    border: 2px solid hotpink;
    display: flex;
    align-items: center;
    /* text-overflow: hidden; */
}
.contact-container img{
    width: 50px;
}

.small-card{
    height: 80px;
}